doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet")
        
        block header
    body 
        include variables.pug

        div(class=" text-center flex justify-center items-center w-screen h-screen") 
            block body
        
        script(src="/index.js") 